
*.s#1
*.s#2
*.s#3
*.s#4
*.s#5
*.s#6
*.s#7
*.s#8
*.s#9
*.b#1
*.b#2
*.b#3
*.b#4
*.b#5
*.b#6
*.b#7
*.b#8
*.b#9
*.s##
*.b##
*.scr
*.epf
*.epf
eagle projects/ADCS Actuator Board/eagle.epf
eagle projects/ADCS Actuator Board/eagle.epf
*.l#2
*.l#1
*.l#3
*.l#1
*.l#1
eagle projects/ADCS Sensor Board/SensorBoard_2020-11-14.zip
eagle projects/ADCS Sensor Board/SensorBoard_2020-11-14_5-48PM.zip
eagle projects/ADCS Sensor Board/SensorBoard_2020-11-14_6-15PM.zip
eagle projects/ADCS Sensor Board/SensorBoard_2020-11-14_6-21.zip
eagle projects/ADCS Sensor Board/SensorBoard_2020-11-14_6-30PM.zip
*.l#5
*.l#4
*.l#1
*.l#1
eagle projects/ADCS Sensor Board/BOM.txt
eagle projects/ADCS Sensor Board/BOM
